header img{
    width: 10%;
}

Header{
    background-color: rgb(152, 211, 156);
}

H1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

nav{
    display: inline-block;
    width: 80%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 60%;
    column-gap: 1%;
}

.images img{
    width: 100%;
}

.current{
 text-transform: uppercase; 
}

.images{
    display: inline-block;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    row-gap: 1%;
    align-items: center;
    column-gap: 1%;

}

