body{
font-family: Arial, Helvetica, sans-serif;

}

Header{
font-size: medium;

}


nav{
background-color: blueviolet;

}

main{
display: inline;

}

footer{
width: 50px;

}



li{
text-align: right;
color: antiquewhite;

}

li{
color: azure;

}

h1{
line-height: 70px;


}


p{

line-break: strict;

}